{% extends 'commonlayout.html' %}
{% block body %}
<div class="container-fluid">

 
 	<form action="{{ url_for('Aadhars') }}" method="POST">
 		<div class="form-group">
      <label for="uname">Aadhar:</label>
      <input type="text" class="form-control" id="adhar" placeholder="Enter aadhar" name="adhar" required>
      </div>
      <button class="btn btn-outline-success my-1 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
 </form>

<div>
	{% for i in aa %}
		<h4>Name:       {{i.Name}}</h4>
		<h4>Mail:      	 {{i.Emailaddress}}</h4>
		<h4>Mobileno:  	 {{i.Mobileno}}</h4>
		<h4>AccountNo: 		{{i.AccountNO}}</h4>
		<h4>Age:       		{{i.Age}}</h4>
	{% endfor %}
</div> 
</div>                


{% endblock %}
