{% extends 'commonlayout.html' %}
{% block body %}
<div class="container-fluid">
<h3>Government Schemes</h3>

<p>Indian Government, at all levels, announces Welfare Schemes for a cross section of the society from time to time. These schemes could be either Central, State specific or a joint collaboration between the Centre and the States. In this section, we have attempted to provide you an easy and single point access to information about several welfare schemes of the Government and their various aspects including eligible beneficiaries, types of benefits, scheme details etc.</p>

<p>At this section, We will get the information about the schemes launched in the states. From this section we will get every scheme briefly information in very simple language. So that you will get every benefit from the scheme. As we go to gives you information about some old schemes and some newly launched scheme launched by the state government.</p>

<p> Dear Reader,there are also so many schemes which are started with the help of the central government. Guys the state government launched scheme for the welfare of the common public of the state. State in tuned with us for us for latest and fresh news of the scheme.</p>
</div>
{% endblock %}