{% extends 'commonlayout.html'  %}
{% block body %}

</div>
     <style>
      /* Make the image fully responsive */
       .carousel-inner img {
    width: 100%;
    height: 100px;
     }
     #a{
     	padding:0px 50px;
     	border: 2px #e8f442;
     }
     </style>
     <div class="container-fluid">
      <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1" class="active"></li>
    <li data-target="#demo" data-slide-to="2" class="active"></li>
    <li data-target="#demo" data-slide-to="3" class="active"></li>
    <li data-target="#demo" data-slide-to="4" class="active"></li>
    <li data-target="#demo" data-slide-to="5" class="active"></li>
    <li data-target="#demo" data-slide-to="6" class="active"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/w2.jpg"  style="width:100%; height:480px">
      <div class="carousel-caption">
        <h3>GOVT OF INDIA</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/1.jpg"  style="width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/2.jpg"  style="width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/3.jpeg"  style="width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
  
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/4.jpg"  style="width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    
    <div class="carousel-item">
      <img src="/static/images/6.jpg"  style= "width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/7.jpg"  style= "width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/8.jpg"  style= "width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/9.jpg"  style= "width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/10.png"  style= "width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/women.jpg"  style= "width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/static/images/11.jpg"  style= "width:100%; height:480px">
      <div class="carousel-caption">
        <h3>Schemes</h3>
        <p>We had such a great time in india</p>
      </div>   
    </div>
   
  </div>
   <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>

{% endblock %}
