{% extends 'commonlayout.html' %}
{% block body %}
<div class="container-fluid">
<h2>PENSION</h2>
<p>Atal Pension Yojana (or APY, previously known as Swavalamban Yojana) is a government-backed pension scheme in India, primarily targeted at the unorganised sector. It was mentioned in the 2015 Budget speech by the then Finance Minister Arun Jaitley. It was launched by Prime Minister Narendra Modi on 9 May in Kolkata.</p><br>
<p>In order to incentivize people to enroll in this scheme and widen its reach, the government announced that it would co-contribute 50% of the total contribution or ₹1,000 (US$14) per annum, whichever is lower, to each eligible subscriber account, for a period of 5 years. Only subscribers who had enrolled in APY between June 1, 2015 and March 31, 2016, and were not beneficiaries of any social security schemes, besides not having any taxable income were eligible for this co-contribution.[8][9]

The minimum eligible age for a person joining APY is 18 years and the maximum is 40 years.[10][7] An enrolled person would start receiving pension on attaining the age of 60 years. Therefore, a minimum period of contribution by the subscriber under APY would be 20 years or more.[11] The national Aadhaar ID number is the primary "know your customer" document for identification of beneficiaries, spouses, and nominees to avoid entitlement-related disputes in the long-term. For proof of address, an individual may submit a copy of their ration card or bank passbook.

Subscribers are required to opt for a monthly pension from ₹1,000 (US$14) to ₹5,000 (US$70) and ensure payment of the stipulated contribution regularly (monthly, quarterly, or half-yearly basis). Subscribers can opt to decrease or increase pension amount during the course of the accumulation phase, as per the available monthly pension amounts. However, the option to switch is only provided once a year during the month of April.[6]

This scheme will be linked to the bank accounts opened under the Pradhan Mantri Jan Dhan Yojana scheme and the contributions will be deducted automatically</p>
<br>
<p>Atal Pension Yojana gives various slabs of pension depending on the age and contribution made. This scheme will give monthly pensions after 60 years of age. The monthly fixed pensions are Rs. 1000, Rs. 2000, Rs. 3000, Rs. 4000 and Rs. 5000. This will depend on the amount deposited under the scheme and the age.

The minimum age to join this scheme is 18 years and the maximum is 40 years. That means a citizen can make deposits in the scheme for minimum 20 years and maximum 40 years. It is wiser to join the scheme as early as possible to get maximum benefits.

Having a savings bank account is compulsory for joining this scheme. The contribution to the pension scheme will be automatically debited from the user’s bank account every month till he attains the age of 60 years. A mobile number is mandatory to be given along with the pension scheme. This will help the subscriber to get SMS alerts and information about the APY account.</p>
<a href="{{ url_for('central_registration') }}"class="btn btn-primary" target="_tab">Apply Here</a>
</div>

{% endblock %}