{% extends 'commonlayout.html'  %}
{% block body %}

<style>
  .form-group{
    padding-left: 40px;
  }
</style>

<div class="container">
<br><br>
  <center><h2>Form registration</h2></center><br>
<div class="table" style="border: 1px solid black">
  <form action="{{ url_for('Detailss') }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="uname">Name:</label>
     <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
      <label for="image">user photo</label>
      <input type="file" class="form-control" id="" placeholder="upload image" name="file1" required>
    </div>
    <div class="form-group">
      <label for="uname">Adhar No:</label>
      <input type="text" maxlength="12" class="form-control" id="uname" placeholder="Enter 12 digit aadhar No" name="adhar" required>
    </div>
    <div class="form-group">
      <label for="uname">Category</label>
      <select id="gender1" name="a">
          <option value="OC">OC</option>
          <option value="BC-A">BC-A</option>
        </select>
    </div>
        
    <div class="form-group">
      <label for="image">Income certificate</label>
      <input type="file" class="form-control" id="" placeholder="upload image" name="file2" required>
    </div>
    <div class="form-group">
      <label for="Email">Email:</label>
      <input type="Email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="uname">Mobile No:</label>
      <input type="text" maxlength="10" class="form-control" id="phone" placeholder="Enter phoneno" name="phone" required>
    </div>
    <div class="form-group">
      <label for="accno">Account no</label>
      <input type="text" class="form-control" id="accno" placeholder="Enter accountno" name="accno" required>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" min="18" max="30" required>
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}