{% extends 'commonlayout.html' %}
{% block body %}
<div class="container-fluid">
<h2>JAGANANNA VIDYADEEVENA</h2>
<p>The State Government of Andhra Pradesh Started a new welfare scheme for ITI, B.Tech, B. Pharmacy, MBA, MCA, and B.Ed students. The scheme named “YSR Jagananna Vidya Deevena Scheme“. The scheme launched on 27 November 2019. Vidya Deevena Scheme launched by Andhra Pradesh CM YS Jagan Mohan Reddy. Candidates can read complete details regarding Jagananna Vidya Deevena Scheme 2019 AP can go through this article. The scheme provides Fee Reimbursement for ITI, B.Tech, B. Pharmacy, MBA, MCA, and B.Ed Courses. Selected students get an amount of Rs. 15000 to 20000 under YSR Vidya Deevena Scheme 2019-20.</p>
<h4>YSR Jagananna Vidya Deevena Scheme in AP – Details</h4>
Scheme Will Be Supervised By				Andhra Pradesh Education Department

Name Of The Scheme							Jagananna Vidya Deevena

Implemented By								CM YS Jagan Mohan Reddy

Approval Of Jagananna Vidya Deevena Scheme	27th November 2019

Implementation Of This Scheme	            24th February 2020

Category									Govt Schemes

Offered Pay									ITI students will receive Rs 10,000, 												polytechnic students Rs 15,000, and 												degree students Rs 20,000 every year

Scheme Purpose								To Provide 100% fee reimbursement for 												SC, ST, OBC, minority, Kapus, EWS, 													disabled

Mode Of Application Form					Online
Scheme Launched In							Andhra Pradesh



<h4>Documents Required to apply for Jagananna Vidya Deevena Scheme</h4>
*Aadhar card <br> 
*Residential Proof <br>
*Income certificate <br>
*BPL or EWS certificate <br>
*college admission certificate <br>
*Admission fee receipt <br>
*Non-tax payer declaration <br>
*Parent's occupational certificate <br>
*Bank account details
<br>
<a href="{{ url_for('registration') }}"class="btn btn-primary" target="_tab">Apply Here</a>
</div>

{% endblock %}